<ul class="message-board-cont">
  <% if (message_list.length > 0) { %>
    <% message_list.forEach(message => { %>
      <!-- Check if User is logged in -->
      <!-- User is not logged in, or is not a member -->
      <% if (!currentUser || !currentUser.member) { %>
        <li class="message-card-limited">
          <span><%= message.title %></span>
          <span><%= message.content %></span>
        </li>
      <% } else { %> <!-- User is a Member -->
        <li class="message-card">
          <div class="message-head">
            <!-- If User is Admin, enable delete button -->
            <% if (currentUser.admin) {  %>
              <form method="POST" action="/message/<%= message._id %>/delete" class="message-delete-form">
                <input 
                  id=""
                  type="hidden"
                  value="<%= message._id %>"
                  required="true"
                >
                <button class="message-delete-btn">X</button>
              </form>
            <% } %>
          </div>
          <!-- Main Card Content // User and Content // -->
          <div class="message-main">
            <div class="message-user">
              <img src="/<%= message.user.icon %>" alt="User Icon" class="message-user-icon">
              <span><%= message.user.username%></span>
            </div>
            <div class="message-text">
              <p class="message-title"><%= message.title %></p>
              <p class="message-content"><%= message.content %></p>
            </div>
          </div>
          <div class="message-date">
            <span><%= message.date_ISO %></span>
          </div>
        </li>
      <% } %>
    <% }) %>
  <% } else { %>
    <span>There are no messages yet.</span>    
    <span><a href="/message/create">Add your own Message now</a></span>
  <% } %>
</ul>
<br>
<br>
<br>
