<h1>User Sign-Up/Update Form</h1>

<form action="" method="POST">
  <label for="first_name">First Name</label>
  <input
    type="text"
    name="first_name"
    id="first_name"
    value="<%= user.first_name %>"
    placeholder="First Name"
    minlength="1"
    maxlength="30"
    required
  />
  <label for="last_name">Last Name</label>
  <input
    type="text"
    name="last_name"
    id="last_name"
    value="<%= user.last_name %>"
    placeholder="Last Name"
    minlength="1"
    maxlength="30"
    required
  />
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    value="<%= user.username %>"
    placeholder="Username"
    minlength="1"
    maxlength="30"
    required
  />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    value="<%= user.password %>"
    minlength="5"
    maxlength="40"
    required
  />
  <label for="confirm_password">Confirm Password</label>
  <input
  type="password"
  name="confirm_password"
  id="confirm_password"
  value="<%= user.confirm_password %>"
  minlength="5"
  maxlength="40"
  required
  />
  <div class="hidden-elem">
    <input 
      type="text"
      name="member"
      id="member"
      <% if (user.member !== true) { %>
        value=false
      <% } else { %>
        value=true
      <% } %>
    />
  </div>
  <div class="hidden-elem">
    <input 
      type="text"
      name="admin"
      id="admin"
      <% if (user.admin !== true) { %>
        value=false
      <% } else { %>
        value=true
      <% } %>   
    />
  </div>
  <div class="icon-radio-cont">

    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/chameleon.png" 
          alt="Chameleon"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="chameleon"
        value="/chameleon.png"
        name="icon"
        checked
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/dog.png" 
          alt="Dog"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="dog"
        value="/dog.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/elephant.png" 
          alt="Elephant"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="elephant"
        value="/elephant.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/goat.png" 
          alt="Goat"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="goat"
        value="/goat.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/kangaroo.png" 
          alt="Kangaroo"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="kangaroo"
        value="/kangaroo.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/monkey.png" 
          alt="Monkey"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="monkey"
        value="/monkey.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/penguin.png" 
          alt="Penguin"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="penguin"
        value="/penguin.png"
        name="icon"
      >
    </div>
    <div class="icon-radio-item">
      <label for="icon">
        <img 
          src="/tiger.png" 
          alt="Tiger"
          class="icon-radio-img"
        >
      </label>
      <input 
        type="radio"
        id="tiger"
        value="/tiger.png"
        name="icon"
      >
    </div>

  </div>
  <button type="submit">Register</button>
</form>


<% if (errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>